# Telegram Bot
aiogram==3.13.1

# Web Framework
fastapi==0.115.5
uvicorn[standard]==0.32.1

# Database
sqlalchemy==2.0.36
aiomysql==0.2.0
alembic==1.14.0

# Redis
redis==5.2.0

# Config
pydantic-settings==2.6.1

# Utils
python-dotenv==1.0.1
